@page "/pitest"
@inherits PiTestModel
<h1>Pi Test</h1>

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-3 col-sm-6">
            <h4>Enter decimals</h4>
            <div class="form-group">
                <textarea id="test" class="form-control" rows="20" cols="16" bind="Test"></textarea>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6">
            <h4>Result</h4>
            <div class="form-group">
                @*<label>3. <small class="text-muted">(hint: 1415...)</small></label>*@
                <p style="word-break: break-word;margin-top: 15px">
                    @if (!string.IsNullOrEmpty(Test))
                    {
                        if (!ResultIsLongest)
                        {
                            <strong>@Lcp</strong>@RemainingNumbers
                        }
                        else
                        {
                            <span>@((MarkupString)Test.Replace(Environment.NewLine, "<br />"))</span>
                        }
                    }
                </p>
            </div>
            <div class="alert alert-@((PiContainsResult ? "success" : "danger"))">
                Length: <strong>@CleanTest.Length</strong>
                @if (!ResultIsLongest)
                {
                    <span>- Correct:</span> <strong>@Lcp.Length</strong>
                }
            </div>
            @if (NbErrors > 0)
            {
                <div class="alert alert-warning">Errors: <strong>@NbErrors</strong></div>
            }
        </div>
        <div class="col-lg-3 col-sm-6">
            <h4>
                <input type="checkbox" id="ShowPi" bind="ShowPi" class="form-check-input" style="display:none" />
                <label class="form-check-label" for="ShowPi">
                    <span class="oi oi-chevron-@(ShowPi ? "top" : "bottom")" aria-hidden="true"></span>
                    Solution
                </label>
            </h4>
            @if (ShowPi)
            {
                <form>
                    <div class="form-group">
                        <div class="input-group">
                            <label for="TestLength" style="width:150px">A π approx. with</label>
                            <input type="number" id="TestLength" bind="TestLength" class="form-control form-control-sm" min="0" max="2000" />
                            <div class="input-group-append">
                                <span class="input-group-text">decimals</span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <label for="LineLength" style="width:150px">Add a line every</label>
                            <input type="number" id="LineLength" bind="LineLength" class="form-control form-control-sm" min="0" max="20" />
                            <div class="input-group-append">
                                <span class="input-group-text">decimals</span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <label for="SpaceLength" style="width:150px">Add a char every</label>
                            <input type="number" id="SpaceLength" bind="ChunkLength" class="form-control form-control-sm" min="0" max="20" />
                            <div class="input-group-append">
                                <span class="input-group-text">decimals</span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group" style="display:none">
                        <div class="input-group">
                            <label for="SplitChar" style="width:150px">With <small class="text-muted">(space by default)</small></label>
                            <input type="text" id="SplitChar" bind="SplitChar" maxlength="1" class="form-control form-control-sm" />
                            <div class="input-group-append">
                                <span class="input-group-text">delimiter</span>
                            </div>
                        </div>
                    </div>
                </form>
                <p style="word-break: break-word;margin-top: 7px;display:none">
                    @PiDecimals
                </p>
            }
        </div>
        <div class="col-lg-3 col-sm-6">
            <h4>
                <input type="checkbox" id="showText" bind="ShowText" class="form-check-input" style="display:none" />
                <label class="form-check-label" for="showText"><span class="oi oi-chevron-@(ShowText ? "top" : "bottom")" aria-hidden="true"></span> Tools</label>
            </h4>
            @if (ShowText)
            {
                <div class="form-group">
                    <textarea id="text" rows="20" class="form-control" bind="Text"></textarea>                    
                </div>
                <div class="form-group">
                    <div class="form-check form-check-inline">
                        <small class="text-muted">Converts words to numbers based on length.</small>
                    </div>
                    <small class="text-muted">
                        <strong>Example:</strong> a = 1, aa = 2, ... , aaaaaaaaaa = 0 (10 chars => 0).<br />
                        <strong>You can use this mnemonics:</strong><br />
                        <em>
                            I wish I could enumerate Pi easily since all these
                            horrible mnemonics prevent recalling any of pis sequence more simply
                        </em><br />
                    </small>
                    <small class="text-muted" style="display:none"><strong>Or this:</strong>
                        J aime a faire apprendre un nombre utile aux sages
                        Immortel archimede artiste ingénieur
                        qui de ton jugement peut priser la valeur
                        Pour moi ton problème eut de serieux avantages
                        Jadis mystérieux un problème bloquait
                        tout l admirable procédé l oeuvre grandiose
                        que pythagore decouvrit aux anciens grecs
                        O quadrature vieux tourment du philosophe
                        insoluble rondeur trop longtemps vous avez
                        défié pythagore et ses imitateurs
                        Comment intégrer l espace plan circulaire
                        Former un triangle auquel il equivaudra
                        Nouvelle invention archimede inscrira dedans un hexagone
                        Appreciera son aire fonction du rayon
                        Pas trop ne s y tiendra dedoublera chaque element anterieur
                        Toujours de l orbe calculée approchera
                        Definira limite enfin l arc le limiteur
                        De cet inquietant cercle ennemi trop rebelle
                        professeur enseignez son problème avec zèle</small>
                </div>
            }
        </div>
    </div>
</div>